*{
  margin: 0;
  padding: 0;
}
body{
  
}
.container{
  background-image: url('../../assets/images/hero_1.jpg');
  background-position:center;
  background-size: cover;
  padding: 0 .5rem;
  height: 100%;
 
}
.ion-item{
  border-radius: .5rem;

}
