<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <img src="assets/icon/Agorn-Logo.svg" alt="agorn logo" sizes="(max-width: 600px) 480px,600px"
        srcset="assets/icon/Agorn-Logo.svg 1200w">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img src="assets/icon/Agorn-Logo.svg" alt="agorn logo" sizes="(max-width: 600px) 480px,600px"
        srcset="assets/icon/Agorn-Logo.svg 1200w">
    </ion-toolbar>
  </ion-header>

  <div class="container">

    <h3>Find Job</h3>
    <div class="form-container">
      <form action="" class="form">
        <ion-item>
          <ion-label position="floating">job title, keyword, job type</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item >
          <ion-label position="floating">address</ion-label>
          <ion-input></ion-input>
        </ion-item>
       
        <ion-button  color="success" expand="block" >search</ion-button>
      </form>
    </div>
  </div>
</ion-content>
